
body {
  background-color: $bodyBackgroundColor;
}

.cProducts {
  &__items {

    .cProducts__product {
      display: grid;
      grid-template-columns: 20% 50% 30%;
      padding-bottom: 10px;
      border-bottom: 3px solid $mainFontColor;

      &-pic {
        width: 200px;
        height: 200px;
      }

      &-info {
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 1fr 1fr;
      }

      &-title {
        text-align: left;
        margin: auto 0;
      }

      &-counter {
        margin: auto 0;
      }

      &-description {
        grid-column: 1/3;
      }

      &-decide {
        display: grid;
        grid-template-rows: 20% 80%;
        text-align: right;
      }

      &-buy {
        margin-top: auto;
      }

      &-buy .price {
        padding-bottom: 20px;
      }

      &-closeBtn {
        text-align: right;
      }

    }
  }

  &__item {
    margin-top: 40px;
  }
}