h2 {
  text-align: center;
}

section .heading {
  padding-bottom: 30px;
}

.ctgs {

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    height: 600px;
    margin: auto;

    .ctgs__item {
      width: 100%;
      height: 100%;
      border-radius: $borderRadius;

      .ctgs__button {
        width: 100%;
        height: 100%;
        background-color: #d9d9d9;
      }
    }
  }
}

.products {

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr); // 3 равные колонки
    gap: 10px; // расстояние между элементами

    .products__item {
      background: #00A5C2;
      height: 350px;
      border-radius: $borderRadius;
    }
  }
}
