h2 {
  text-align: center;
}

section .heading {
  padding-bottom: 30px;
  
  @media (max-width: 600px) {
    font-size: 24px;
  }
}

.ctgs {

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    height: 600px;
    margin: auto;

    .ctgs__item {
      width: 100%;
      height: 100%;
      border-radius: var(--border-radius);

      .ctgs__button {
        width: 100%;
        height: 100%;
        background-color: #d9d9d9;
      }
    }
  }
}

.products {
  user-select: none;

  .description {
    font-size: 12px;
    border-bottom: 2px solid black; padding: 10px 0;
  }

  .product__description-text {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;


    @media (max-width: 500px) {
      -webkit-line-clamp: 6;
      overflow: hidden;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    .product {
      border: 2px solid black;
      width: 400px;
      height: 600px;

      border-radius: var(--border-radius);
      transition: transform 0.2s;

      a {
        display: grid;
        grid-template-rows: 60% 40%;
        //background-color: yellow;
        height: 100%;
      }

      @media(max-width: 1000px) {
        width: 300px;
      }

      @media(max-width: 350px) {
        width: 250px;
      }

      &__info {
        color: $mainFontColor;
        padding: 5px 20px 30px 20px;
        display: grid;
        grid-template-rows: 30% 50% 20%;
      }

      &__image {
        width: 60%;
        height: 100%;
        margin: auto;
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
        border-bottom: 2px solid $mainFontColor;
        padding: 20px 0;
      }

      &__title {
        font-size: 21px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: calc(1em * 1.2 * 2);

        @media (max-width: 500px) {
          -webkit-line-clamp: 2;
        }
      }

      &__price {
        font-size: 25px;
        font-weight: 500;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .product:hover {
        transform: scale(102%);
        transition: transform 0.2s;
      }
  }
}
