h2 {
  text-align: center;
}

section .heading {
  padding-bottom: 30px;
}

.ctgs {

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    height: 600px;
    margin: auto;

    .ctgs__item {
      width: 100%;
      height: 100%;
      border-radius: $borderRadius;

      .ctgs__button {
        width: 100%;
        height: 100%;
        background-color: #d9d9d9;
      }
    }
  }
}

.products {

  .description {
    font-size: 12px;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    .product {
      border: 2px solid black;
      width: 300px;
      border-radius: $borderRadius;
      transition: transform 0.2s;

      &__info {
        color: $mainFontColor;
        padding: 5px 20px 30px 20px;
      }

      &__image {
        width: 100%;
        border-top-left-radius: $borderRadius;
        border-top-right-radius: $borderRadius;
        border-bottom: 2px solid $mainFontColor;
      }

      &__title {
        font-size: 21px;
      }

      &__price {
        font-size: 25px;
        font-weight: 500;
      }
    }

    .product:hover {
        transform: scale(102%);
        transition: transform 0.2s;
      }
  }
}
