.header {
  background-color: black;
  height: 80px; /* вместо $headerHeight */
  position: fixed;
  width: 100vw;
  z-index: 100;
  user-select: none;

  &__inner {
    height: 100%;
  }

  &__burger-list {
    width: 100vw;
    background-color: #171717; /* вместо $burgerMenuBackgroundColor */
    text-align: center;
    padding: 10px 0 40px;
    border-bottom-left-radius: 11px; /* вместо var(--border-radius) */
    border-bottom-right-radius: 11px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;

    @media (min-width: 700px) {
      display: none;
    }

    &.active {
      display: block;
    }
  }

  &__burger-item {
    padding: 10px 0;
    width: 100%;
  }

  &__burger-item a {
    display: inline-block;
    padding: 20px 30px;
    width: 70%;
    border-radius: 11px; /* вместо var(--border-radius) */
  }

  #header__links {
    @media (max-width: 700px) {
      display: none;
    }
  }

  .nav-link {
    font-size: 16px;
    font-weight: 600;
  }

  &__items {
    width: 80%;
    margin: auto;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    @media (max-width: 700px) {
      display: flex;
      justify-content: space-between;
    }

    svg {
      color: white;
      width: 40px;
      display: inline;
    }

    #header__logo {
      color: white;
      font-size: 30px;
      height: 100%;
    }

    #header__special-links {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 40px;

      @media (max-width: 700px) {
        display: none;
      }
    }

    #header__burger-menu {
      @media (min-width: 700px) {
        display: none;
      }

      @media (max-width: 700px) {
        display: block;
      }
    }
  }

}

#header__cart {
  display: flex;
  align-items: center;
}

.header__cart-amount {
  background-color: #E83D3D;
  color: white;
  padding: 2px 10px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 11px; /* вместо var(--border-radius) */
}
