.productPage {
  padding: 60px;

  &__info {
    border-bottom: 3px solid var(--border-color); /* вместо $borderColor */
    padding-top: 20px;
  }

  &__image {
    display: block;
    margin: auto;
    border-bottom: 3px solid var(--border-color); /* вместо $borderColor */
    max-width: 100%;
  }

  &-main {
    display: flex;
    justify-content: space-between;

    @media (max-width: 800px) {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__price,
  &__title {
    font-size: 26px;
    font-weight: 600;
    text-align: left;
    max-width: 45%;

    @media (max-width: 800px) {
      font-size: 20px;
      max-width: 100%;
      text-align: center;
    }
  }

  &__description {
    margin-top: 40px;
    color: #444444; /* вместо $descFontColor */

    &-heading {
      font-size: 20px;
      font-weight: 500;

      @media (max-width: 800px) {
        font-size: 14px;
      }
    }

    &-text {
      width: 70%;
      padding: 20px 0;

      @media (max-width: 800px) {
        width: 100%;
        font-size: 12px;
      }
    }
  }

  &__buttons {
    padding-top: 20px;
    margin-top: 40px;
    user-select: none;

    button {
      padding: 20px 50px;
      margin: 10px 5px 0 0;

      @media (max-width: 500px) {
        width: 100%;
      }
    }
  }
}
