:root {
  --border-radius: 11px;
  --link-color: #00A5C2;
  --header-font-color: white;
  --burger-menu-background-color: #171717;
  --main-font-color: #000000;
  --main-button-background-color: #000000;
  --main-button-font-color: #FFFFFF;
  --secondary-font-color: #000000;
  --header-height: 80px;
  --body-background-color: #EEEEEE;
  --placeholder-color: #989898;
  --border-color: #000000;
  --section-background-color: #FFFFFF;
  --desc-font-color: #404040;
  --danger-button-background: #E83D3D;
  --danger-button-font-color: #FFFFFF;
}

@media (max-width: 900px) {
  :root {
    --border-radius: 7px;
  }
}

//@media (max-width: 666px) {
//  :root {
//    --border-radius: 3px;
//  }
//}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@function roundToCircle($height, $width) {
  @return calc(min($height, $height) / 2);
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "montserrat", sans-serif;
}

body {
  background: var(--body-background-color);
}

span {
  color: var(--main-font-color);
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  color: var(--main-font-color);
}

main {
  padding-top: var(--header-height);
  background-color: var(--body-background-color);
  min-height: 100vh;
}

a {
  color: var(--link-color);
  text-decoration: none;
  font-weight: 500;

  &:hover {
    cursor: pointer;
    filter: brightness(1.2);
  }
}

a.nav-link {
  color: white;
}

ul, li {
  list-style: none;
  margin: 0;
}

button {
  border: none;
  border-radius: var(--border-radius);
  transition: filter 0.2s;
  user-select: none;
  background: none;
  font-weight: 600;
}

button:hover {
  filter: brightness(0.95);
  cursor: pointer;
}

.main-btn {
  background-color: var(--main-button-background-color);
  color: var(--main-button-font-color);
  padding: 15px 10px;
  font-weight: 600;
  transition: transform 0.2s;
}

.main-btn:hover {
  transform: scale(103%);
}

.danger-btn {
  background-color: var(--danger-button-background);
  color: var(--danger-button-font-color);
  font-weight: 600;
  padding: 15px 10px;
  transition: transform 0.2s;
}

.danger-btn:hover {
  transform: scale(103%);
}

.secondary-btn {
  outline: 3px solid var(--border-color);
  outline-offset: -3px;
  padding: 15px 10px;
  transition: filter, transform 0.2s;
  font-size: 16px;
  color: var(--secondary-font-color);
}

.secondary-btn:hover {
  transform: scale(103%);
}

.secondary-btn span {
  font-weight: 700;
}

label {
  font-weight: 700;
  padding: 10px;
  color: var(--main-font-color);

  &:hover {
    cursor: pointer;
  }
}

input {
  border-radius: var(--border-radius);
  padding: 20px;
  border: 3px solid var(--border-color);
  font-size: 14px;
  font-weight: 600;
  color: var(--main-font-color);
  background-color: var(--section-background-color);;
}

input:not([type="submit"]):not([type="checkbox"]):focus {
  outline: 3.5px solid var(--link-color);
  transition: outline 0.2s;
}

input::placeholder {
  color: var(--placeholder-color);
}

input[type="submit"]:hover {
  cursor: pointer;
  transform: scale(103%);
  transition: transform 0.2s;
}

input[type="checkbox"] {
  position: absolute;
  width: 1px; height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border-radius: 50%;
}

.custom-checkbox {
  position: absolute;
  width: 20px; height: 20px;
  border: 3px solid var(--border-color);
  border-radius: 50%;
  margin-left: 10px;
}

input[type="checkbox"]:checked + .custom-checkbox::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--border-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section {
  background-color: var(--section-background-color);
  padding: 20px;
  border-radius: var(--border-radius);
  width: 80%;
  margin: 20px  auto;
  min-width: 310px;

  @media(max-width: 1000px) {
    width: 90%;
  }

  @media(max-width: 450px) {
    width: 96%;
  }
}

section [class*="__inner"] {
  height: fit-content;
  margin: 20px auto;
}

.heading {
  font-weight: 800;
}

.close-btn {
  color: var(--main-font-color);
}

.close-btn:hover {
  color: var(--danger-button-background);
}

.buy-button {
  background-color: var(--main-button-background-color);
  color: var(--main-button-font-color);
  padding: 20px 70px;
  font-size: 16px;
  font-weight: 600;
  transition: transform 0.2s;
}

.buy-button:hover {
  transform: scale(105%);
  transition: transform 0.2s;
}

.description {
  color: var(--desc-font-color);
  font-weight: 500;
}

.title {
  font-weight: 700;
  color: var(--main-font-color);
}

.price {
  color: var(--main-font-color);
  font-weight: 600;
  font-size: 24px;
}

.counter-btn {
  background-color: var(--main-button-background-color);
  color: var(--main-button-font-color);
  width: 35px;
  height: 35px;
  border-radius: roundToCircle(35px, 35px);
  font-size: 25px;
  margin: 10px;
  transition: transform 0.2s;

  @media(max-width: 1100px) {
    width: 25px;
    height: 25px;
    font-size: 15px;
    border-radius: roundToCircle(25px, 25px);
    margin: 3px;
  }
}

.counter-amount {
  color: var(--main-font-color);
  font-weight: 500;
  font-size: 20px;

  @media(max-width: 1100px) {
    font-size: 15px;
  }
}

.counter-btn:hover {
  transform: scale(105%);
  transition: transform 0.2s;
}

// modal windows
.modal {
  user-select: none;
  position: fixed;
  z-index: 50;
  background-color: var(--section-background-color);
  border-radius: var(--border-radius);
  border: 3px solid var(--border-color);
  width: fit-content;
  height: fit-content;
  padding: 30px 20px;
  max-height: 80vh;
  overflow-y: scroll;

  top: 200%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: top 0.5s, opacity 0.5s;

  input:not([type="checkbox"]) {

    @media (max-width: 420px) {
      padding: 10px 20px;
    }
  }

  input[type="submit"] {
    margin-top: 20px;
  }

  @media(max-width: 600px) {
    width: 400px;
    padding: 15px 20px;
  }

  @media(max-width: 420px) {
    width: 300px;
  }

  &.active {
    display: block;
    transform: translate(-50%, -40%);
    top: 50%;
    transition: top 0.5s, opacity 0.5s;
    opacity: 1;
  }

  &__heading {
    margin: 0 10px;
    text-align: center;
    font-size: 24px;
    font-weight: 800;

    @media (max-width: 420px) {
      font-size: 18px;
    }
  }

  &__save-data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    height: 100%;

    @media (max-width: 600px) {
      padding: 0;
    }

    label {
      @media (max-width: 420px) {
        font-size: 14px;
      }
    }
  }

  &__small-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;

    margin: 0;

    @media (max-width: 600px) {
      flex-direction: column;
    }

    .modal__expiry {
      display: flex;
      flex-direction: column;
      margin-right: 10px;
    }

    .modal__cvv {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
    }

    .modal__cvv, .modal__expiry {
      @media (max-width: 600px) {
        margin: 0;
      }
    }
  }
}

.modal::-webkit-scrollbar {
  display: none;
}

#edit-modal {
  width: 400px;

  @media (max-width: 440px) {
    width: 300px;
  }
}

.close-btn {
  margin-left: auto;
  display: block;

  svg {
    width: 35px;
  }
}

.toggle-container {
  position: relative;
}

.toggle-input {
  display: none;
}

.toggle-label {
  display: block;
  width: 60px;
  height: 30px;
  background-color: #ccc;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: auto;
}

.toggle-label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

.toggle-label:has(.toggle-input:checked) {
  background-color: #4caf50;
}

.toggle-label:has(.toggle-input:checked)::after {
  transform: translateX(30px);
}

.empty-state {
  display: none;

  &.active {
    display: block;
    text-align: center;
    color: var(--desc-font-color);
    user-select: none;

    svg {
      width: 200px;
      height: 200px;
    }

    .empty-state-title {
      font-weight: 600;
      font-size: 21px;
      color: var(--desc-font-color);
    }
  }
}


#loader {
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translate(-50%, 50%);
  z-index: 1000;
  padding: 50px;
}

#loader .spinner {
  color: var(--main-button-background-color);
  opacity: 0.6;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

#loader.hidden {
  opacity: 0;
  visibility: hidden;
}

@import '_nav';
@import '_mainpage';
@import '_cart';
@import '_product';
@import '_footer';