$linkColor: #00A5C2;
$headerFontColor: white;
$mainFontColor: #000000;
$mainButtonBackgroundColor: #000000;
$mainButtonFontColor: #FFFFFF;
$secondaryFontColor: #000000;
$headerHeight: 80px;
$borderRadius: 11px;
$bodyBackgroundColor: #EEEEEE;
$placeholderColor: #989898;
$borderColor: #000000;
$sectionBackgroundColor: #FFFFFF;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "montserrat", sans-serif;
}

h2 {
  font-weight: 800;
}

main {
  padding-top: $headerHeight;
}

a {
  color: $linkColor;
  text-decoration: none;
}

a.nav-link {
  color: white;
}

ul, li {
  list-style: none;
}

button {
  border: none;
  border-radius: $borderRadius;
  transition: filter 0.2s;
  user-select: none;
}

button:hover {
  filter: brightness(0.95);
  cursor: pointer;
  transition: filter 0.2s;
}

.main-btn {
  background-color: $mainButtonBackgroundColor;
  color: $mainButtonFontColor;
  font-size: 16px;
}

.secondary-btn {
  border: 3px solid $borderColor;
  padding: 15px 10px;
}

.secondary-btn span {
  font-weight: 700;
}

label {
  font-weight: 700;
}

input {
  border-radius: $borderRadius;
  padding: 20px;
  border: black solid 3px;
  font-size: 14px;
  font-weight: 600;
}

input::placeholder {
  color: $placeholderColor;
}

input[type=submit] {
  background-color: $mainButtonBackgroundColor;
  color: $mainButtonFontColor;
}

input[type=submit]:hover {
  cursor: pointer;
}

section {
  background-color: $sectionBackgroundColor;
  padding: 20px;
  border-radius: $borderRadius;
  width: 1200px;
  margin: 20px  auto;

  @media(max-width: 1300px) {
    width: 900px;
  }

  @media(max-width: 1000px) {
    width: 600px;
  }

  @media(max-width: 666px) {
    width: 90%;
  }
}

section [class*="__inner"] {
  height: fit-content;
  margin: 80px auto;
}

section [class*="__items"] {

}

@import '_nav';
@import '_mainpage';
@import '_registration';
@import '_cart';
