$linkColor: #00A5C2;
$headerFontColor: white;
$burgerMenuBackgroundColor: #171717;
$mainFontColor: #000000;
$mainButtonBackgroundColor: #000000;
$mainButtonFontColor: #FFFFFF;
$secondaryFontColor: #000000;
$headerHeight: 80px;
$bodyBackgroundColor: #EEEEEE;
$placeholderColor: #989898;
$borderColor: #000000;
$sectionBackgroundColor: #FFFFFF;
$descFontColor: #404040;
$dangerButtonBackground: #E83D3D;
$dangerButtonFontColor: #FFFFFF;

:root {
  --border-radius: 11px;
}

@media (max-width: 900px) {
  :root {
    --border-radius: 7px;
  }
}

//@media (max-width: 666px) {
//  :root {
//    --border-radius: 3px;
//  }
//}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@function roundToCircle($height, $width) {
  @return calc(min($height, $height) / 2);
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "montserrat", sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

main {
  padding-top: $headerHeight;
}

a {
  color: $linkColor;
  text-decoration: none;
}

a.nav-link {
  color: white;
}

ul, li {
  list-style: none;
  margin: 0;
}

button {
  border: none;
  border-radius: var(--border-radius);
  transition: filter 0.2s;
  user-select: none;
  background: none;
  font-weight: 600;
}

button:hover {
  filter: brightness(0.95);
  cursor: pointer;
}

.main-btn {
  background-color: $mainButtonBackgroundColor;
  color: $mainButtonFontColor;
  padding: 15px 10px;
  font-weight: 600;
  transition: transform 0.2s;
}

.main-btn:hover {
  transform: scale(103%);
}

.danger-btn {
  background-color: $dangerButtonBackground;
  color: $dangerButtonFontColor;
  font-weight: 600;
  padding: 15px 10px;
  transition: transform 0.2s;
}

.danger-btn:hover {
  transform: scale(103%);
}

.secondary-btn {
  outline: 3px solid $borderColor;
  outline-offset: -3px;
  padding: 15px 10px;
  transition: filter, transform 0.2s;
  font-size: 16px;
}

.secondary-btn:hover {
  transform: scale(103%);
}

.secondary-btn span {
  font-weight: 700;
}

label {
  font-weight: 700;
  padding: 10px;

  &:hover {
    cursor: pointer;
  }
}

input {
  border-radius: var(--border-radius);
  padding: 20px;
  border: black solid 3px;
  font-size: 14px;
  font-weight: 600;
}

input:not([type="submit"]):not([type="checkbox"]):focus {
  outline: 3.5px solid $linkColor;
  transition: outline 0.2s;
}

input::placeholder {
  color: $placeholderColor;
}

input[type="submit"]:hover {
  cursor: pointer;
  transform: scale(103%);
  transition: transform 0.2s;
}


input[type="checkbox"] {
  //-webkit-appearance: none;
  position: absolute;
  width: 1px; height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border-radius: 50%;
}

.custom-checkbox {
  position: absolute;
  width: 20px; height: 20px;
  border: 3px solid $borderColor;
  border-radius: 50%;
  margin-left: 10px;
}

input[type="checkbox"]:checked + .custom-checkbox::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $borderColor;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section {
  background-color: $sectionBackgroundColor;
  padding: 20px;
  border-radius: var(--border-radius);
  width: 80%;
  margin: 20px  auto;
  min-width: 310px;

  @media(max-width: 1000px) {
    width: 90%;
  }

  @media(max-width: 450px) {
    width: 96%;
  }
}

section [class*="__inner"] {
  height: fit-content;
  margin: 20px auto;
}

section [class*="__items"] {

}

.heading {
  font-weight: 800;
}

.close-btn {
  color: $mainFontColor;
}

.close-btn:hover {
  color: $dangerButtonBackground;
}

.buy-button {
  background-color: $mainButtonBackgroundColor;
  color: $mainButtonFontColor;
  padding: 20px 70px;
  font-size: 16px;
  font-weight: 600;
  transition: transform 0.2s;
}

.buy-button:hover {
  transform: scale(105%);
  transition: transform 0.2s;
}

.description {
  color: $descFontColor;
  font-weight: 500;
}

.title {
  font-weight: 700;
  color: $mainFontColor;
}

.price {
  color: $mainFontColor;
  font-weight: 600;
  font-size: 24px;
}

.counter-btn {
  background-color: $mainButtonBackgroundColor;
  color: $mainButtonFontColor;
  width: 35px;
  height: 35px;
  border-radius: roundToCircle(35px, 35px);
  font-size: 25px;
  margin: 10px;
  transition: transform 0.2s;

  @media(max-width: 1100px) {
    width: 25px;
    height: 25px;
    font-size: 15px;
    border-radius: roundToCircle(25px, 25px);
    margin: 3px;
  }
}

.counter-amount {
  color: $mainFontColor;
  font-weight: 500;
  font-size: 20px;

  @media(max-width: 1100px) {
    font-size: 15px;
  }
}

.counter-btn:hover {
  transform: scale(105%);
  transition: transform 0.2s;
}

// modal windows
.modal {
  user-select: none;
  position: fixed;
  z-index: 50;
  background-color: $sectionBackgroundColor;
  border-radius: var(--border-radius);
  border: 3px solid $borderColor;
  width: fit-content;
  height: fit-content;
  padding: 30px 20px;
  max-height: 80vh;
  overflow-y: scroll;

  top: 200%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: top 0.5s, opacity 0.5s;

  input:not([type="checkbox"]) {

    @media (max-width: 420px) {
      padding: 10px 20px;
    }
  }

  @media(max-width: 600px) {
    width: 400px;
    padding: 15px 20px;
  }

  @media(max-width: 420px) {
    width: 300px;
  }

  &.active {
    display: block;
    transform: translate(-50%, -40%);
    top: 50%;
    transition: top 0.5s, opacity 0.5s;
    opacity: 1;
  }

  &__heading {
    margin: 0 10px;
    text-align: center;
    font-size: 24px;
    font-weight: 800;

    @media (max-width: 420px) {
      font-size: 18px;
    }
  }

  &__save-data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px;
  }

  &__inner {}

  &__purchase-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    height: 100%;

    @media (max-width: 600px) {
      padding: 0;
    }

    label {

      @media (max-width: 420px) {
        font-size: 14px;
      }
    }
  }

  &__small-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;

    margin: 0;

    @media (max-width: 600px) {
      flex-direction: column;
      //width: 100%;
    }

    .modal__expiry {
      display: flex;
      flex-direction: column;
      margin-right: 10px;
    }

    .modal__cvv {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
    }

    .modal__cvv, .modal__expiry {
      @media (max-width: 600px) {
        margin: 0;
      }
    }
  }
}

.modal::-webkit-scrollbar {
  display: none;
}

.close-btn {
  margin-left: auto;
  display: block;

  svg {
    width: 35px;
  }
}

@import '_nav';
@import '_mainpage';
@import '_cart';
@import '_product';