@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "montserrat", sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

main {
  padding-top: 80px;
}

a {
  color: #00A5C2;
  text-decoration: none;
}

a.nav-link {
  color: white;
}

ul, li {
  list-style: none;
  margin: 0;
}

button {
  border: none;
  border-radius: 11px;
  transition: filter 0.2s;
  user-select: none;
  background: none;
  font-weight: 600;
}

button:hover {
  filter: brightness(0.95);
  cursor: pointer;
}

.main-btn {
  background-color: #000000;
  color: #FFFFFF;
  padding: 15px 10px;
  font-weight: 600;
  transition: transform 0.2s;
}

.main-btn:hover {
  transform: scale(103%);
}

.danger-btn {
  background-color: #E83D3D;
  color: #FFFFFF;
  font-weight: 600;
  padding: 15px 10px;
  transition: transform 0.2s;
}

.danger-btn:hover {
  transform: scale(103%);
}

.secondary-btn {
  outline: 3px solid #000000;
  outline-offset: -3px;
  padding: 15px 10px;
  transition: filter, transform 0.2s;
}

.secondary-btn:hover {
  transform: scale(103%);
}

.secondary-btn span {
  font-weight: 700;
}

label {
  font-weight: 700;
  padding-bottom: 10px;
}

input {
  border-radius: 11px;
  padding: 20px;
  border: black solid 3px;
  font-size: 14px;
  font-weight: 600;
}

input:not([type=submit]):not([type=checkbox]):focus {
  outline: 3.5px solid #00A5C2;
  transition: outline 0.2s;
}

input::placeholder {
  color: #989898;
}

input[type=submit]:hover {
  cursor: pointer;
  transform: scale(103%);
  transition: transform 0.2s;
}

section {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 11px;
  width: 80%;
  margin: 20px auto;
  min-width: 310px;
}
@media (max-width: 1000px) {
  section {
    width: 90%;
  }
}
@media (max-width: 450px) {
  section {
    width: 96%;
  }
}

section [class*=__inner] {
  height: fit-content;
  margin: 20px auto;
}

.heading {
  font-weight: 800;
}

.close-btn {
  color: #000000;
}

.close-btn:hover {
  color: #dc3333;
}

.buy-button {
  background-color: #000000;
  color: #FFFFFF;
  padding: 20px 70px;
  font-size: 16px;
  font-weight: 600;
  transition: transform 0.2s;
}

.buy-button:hover {
  transform: scale(105%);
  transition: transform 0.2s;
}

.description {
  color: #404040;
  font-weight: 500;
}

.title {
  font-weight: 700;
  color: #000000;
}

.price {
  color: #000000;
  font-weight: 600;
  font-size: 24px;
}

.counter-btn {
  background-color: #000000;
  color: #FFFFFF;
  width: 35px;
  height: 35px;
  border-radius: 17.5px;
  font-size: 25px;
  margin: 10px;
  transition: transform 0.2s;
}
@media (max-width: 1100px) {
  .counter-btn {
    width: 25px;
    height: 25px;
    font-size: 15px;
    border-radius: 12.5px;
    margin: 3px;
  }
}

.counter-amount {
  color: #000000;
  font-weight: 500;
  font-size: 20px;
}
@media (max-width: 1100px) {
  .counter-amount {
    font-size: 15px;
  }
}

.counter-btn:hover {
  transform: scale(105%);
  transition: transform 0.2s;
}

.modal {
  background-color: #FFFFFF;
  border-radius: 11px;
  border: 3px solid #000000;
  width: fit-content;
  height: fit-content;
  padding: 30px 20px;
  margin: auto;
  z-index: 100;
  display: none;
}
.modal.active {
  display: block;
}
.modal__heading {
  text-align: center;
  font-size: 24px;
  margin: 20px;
}
.modal__save-data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px;
}
.modal__purchase-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 500px;
  height: 500px;
}
.modal__small-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0;
}
.modal__small-inputs .modal__expiry, .modal__small-inputs .modal__cvv {
  display: flex;
  flex-direction: column;
}

.close-btn {
  margin-left: auto;
  display: block;
}
.close-btn svg {
  width: 35px;
}

.header {
  background-color: black;
  height: 80px;
  position: fixed;
  width: 100vw;
  z-index: 100;
}
.header__inner {
  height: 100%;
}
.header__burger-list {
  width: 100vw;
  background-color: #171717;
  text-align: center;
  padding: 10px 0 40px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  display: none;
}
@media (min-width: 700px) {
  .header__burger-list {
    display: none;
  }
}
.header__burger-list.active {
  display: block;
}
.header__burger-item {
  padding: 10px 0;
  width: 100%;
}
.header__burger-item a {
  display: inline-block;
  padding: 20px 30px;
  width: 70%;
  border-radius: 11px;
}
@media (max-width: 700px) {
  .header #header__links {
    display: none;
  }
}
.header .nav-link {
  font-size: 16px;
  font-weight: 600;
}
.header__items {
  width: 80%;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header__items svg {
  color: white;
  width: 40px;
  display: inline;
}
.header__items #header__logo {
  color: white;
  font-size: 30px;
}
.header__items #header__special-links {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 40px;
}
@media (max-width: 700px) {
  .header__items #header__special-links {
    display: none;
  }
}
@media (min-width: 700px) {
  .header__items #header__burger-menu {
    display: none;
  }
}
@media (max-width: 700px) {
  .header__items #header__burger-menu {
    display: block;
  }
}

h2 {
  text-align: center;
}

section .heading {
  padding-bottom: 30px;
}

.ctgs__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  height: 600px;
  margin: auto;
}
.ctgs__items .ctgs__item {
  width: 100%;
  height: 100%;
  border-radius: 11px;
}
.ctgs__items .ctgs__item .ctgs__button {
  width: 100%;
  height: 100%;
  background-color: #d9d9d9;
}

.products .description {
  font-size: 12px;
  border-bottom: 2px solid black;
  padding: 10px 0;
}
.products .product__description-text {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}
@media (max-width: 500px) {
  .products .product__description-text {
    -webkit-line-clamp: 7;
  }
}
.products__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.products__items .product {
  border: 2px solid black;
  width: 400px;
  border-radius: 11px;
  transition: transform 0.2s;
}
@media (max-width: 1000px) {
  .products__items .product {
    width: 300px;
  }
}
@media (max-width: 350px) {
  .products__items .product {
    width: 250px;
  }
}
.products__items .product__info {
  color: #000000;
  padding: 5px 20px 30px 20px;
}
.products__items .product__image {
  width: 100%;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom: 2px solid #000000;
}
.products__items .product__title {
  font-size: 21px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 500px) {
  .products__items .product__title {
    -webkit-line-clamp: 2;
  }
}
.products__items .product__price {
  font-size: 25px;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.products__items .product:hover {
  transform: scale(102%);
  transition: transform 0.2s;
}

body {
  background-color: #EEEEEE;
}

.reg {
  padding: 30px 20px;
  border-radius: 11px;
  margin: auto;
  width: 500px;
}
.reg__heading {
  user-select: none;
  margin-top: 20px;
}
.reg__inner {
  background-color: white;
  margin: auto;
}
.reg__form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.reg__form input {
  margin: 15px 0 30px;
}
.reg__local-strategy {
  display: flex;
  flex-direction: column;
  border-bottom: 3px dashed #000000;
}
.reg__google-signIn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  font-weight: 600;
  font-size: 16px;
  margin: 50px 0;
}

body {
  background-color: #EEEEEE;
}

.cProducts__items .cProducts__product {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  padding-bottom: 10px;
  border-bottom: 3px solid #000000;
}
.cProducts__items .cProducts__product-pic {
  width: 200px;
  height: 200px;
}
@media (max-width: 1100px) {
  .cProducts__items .cProducts__product-pic {
    width: 130px;
    height: 130px;
    margin: auto;
  }
}
@media (max-width: 666px) {
  .cProducts__items .cProducts__product-pic {
    width: 90px;
    height: 90px;
  }
}
@media (max-width: 1100px) {
  .cProducts__items .cProducts__product .buy-button {
    padding: 10px 40px;
    font-size: 12px;
  }
}
@media (max-width: 666px) {
  .cProducts__items .cProducts__product .buy-button {
    padding: 5px 20px;
  }
}
.cProducts__items .cProducts__product-info {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 1fr 1fr;
}
.cProducts__items .cProducts__product-title {
  text-align: left;
  margin: auto 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media (max-width: 1100px) {
  .cProducts__items .cProducts__product-title {
    font-size: 18px;
  }
}
@media (max-width: 666px) {
  .cProducts__items .cProducts__product-title {
    font-size: 14px;
  }
}
.cProducts__items .cProducts__product-counter {
  text-align: right;
  margin: auto 0;
}
.cProducts__items .cProducts__product-description {
  grid-column: 1/3;
  height: fit-content;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media (max-width: 900px) {
  .cProducts__items .cProducts__product-description {
    font-size: 12px;
    vertical-align: bottom;
  }
}
@media (max-width: 666px) {
  .cProducts__items .cProducts__product-description {
    font-size: 9px;
    -webkit-line-clamp: 6;
  }
}
.cProducts__items .cProducts__product-decide {
  display: grid;
  grid-template-rows: 20% 80%;
  text-align: right;
}
.cProducts__items .cProducts__product-buy {
  margin-top: auto;
}
.cProducts__items .cProducts__product-buy .price {
  padding-bottom: 20px;
}
@media (max-width: 900px) {
  .cProducts__items .cProducts__product-buy .price {
    font-size: 18px;
  }
}
@media (max-width: 666px) {
  .cProducts__items .cProducts__product-buy .price {
    font-size: 14px;
  }
}
.cProducts__items .cProducts__product-closeBtn {
  text-align: right;
}
.cProducts__item {
  margin-top: 40px;
}

.productPage {
  padding: 60px;
}
.productPage__info {
  border-bottom: 3px solid #000000;
  padding-top: 20px;
}
.productPage__image {
  display: block;
  margin: auto;
  border-bottom: 3px solid #000000;
  max-width: 100%;
}
.productPage-main {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .productPage-main {
    flex-direction: column;
    gap: 20px;
  }
}
.productPage__price, .productPage__title {
  font-size: 26px;
  font-weight: 600;
  text-align: left;
  max-width: 45%;
}
@media (max-width: 800px) {
  .productPage__price, .productPage__title {
    font-size: 20px;
    max-width: 100%;
    text-align: center;
  }
}
.productPage__description {
  margin-top: 40px;
  color: #404040;
}
.productPage__description-heading {
  font-size: 20px;
  font-weight: 500;
}
@media (max-width: 800px) {
  .productPage__description-heading {
    font-size: 14px;
  }
}
.productPage__description-text {
  width: 70%;
  padding: 20px 0;
}
@media (max-width: 800px) {
  .productPage__description-text {
    width: 100%;
    font-size: 12px;
  }
}
.productPage__buttons {
  padding-top: 20px;
  margin-top: 40px;
}
.productPage__buttons button {
  padding: 20px 50px;
  margin-top: 10px;
}
@media (max-width: 500px) {
  .productPage__buttons button {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
